@import "tailwindcss";


@font-face {
  font-family: "MyAppFont";
  src: url("/fonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}


/* Tell Tailwind about it */
@theme {
  --font-app: "MyAppFont", sans-serif;
}

/* Apply globally */
@layer base {
  html, body {
    @apply font-app ;   /* font-sans font-bold*/
  }
}